* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:"Bree Serif",sans-serif;
}

body {
 background: url(../images/lib3.jpg);
 background-color: #FFE4C4;
  
  width: 100%;
  height: 300px;
   background-size: 100% 100%;
    border: 1px solid red;
    background-repeat: no-repeat;
  
}
/*h1{
  margin:0;
  padding: 0;
  position:absolute;
  top:35%;
  left: 35%;
  transform: translate(-35%,-35%);
}
h1 span{
  color: #008B8B;
  background: #F5F5DC;
  padding: 10px 20px;
  font-family: arial;
  display:table-cell;
  box-shadow:inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  animation:animate .5s infinite;
}
@keyframes animate{
  0%
  {
    transform: translateY(0px);
    box-shadow:inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);

  }
  50%
  {
    transform: translateY(-20px);
    ox-shadow:inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);


  }
  100%{
    transform: translateY(0px);
    ox-shadow:inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);

    

  }

}
h1 span:nth-child(1){
  animation-delay: .2s;
}
h1 span:nth-child(2){
  animation-delay: .4s;
}
h1 span:nth-child(3){
  animation-delay: .6s;
}
h1 span:nth-child(4){
  animation-delay: .8s;
}
h1 span:nth-child(5){
  animation-delay: .1s;
}
h1 span:nth-child(6){
  animation-delay: 1.2s;
}
h1 span:nth-child(7){
  animation-delay: 1.4s;
}
h1 span:nth-child(8){
  animation-delay: 1.6s;
}
#wrapper{
  width:1000px;
  background-color:#F0E68C;
  margin: 0px auto;
  min-height: 350px;
  margin-top: 300px;
  border: 1px solid #999;
  border-bottom: 3px solid #999;
  border-radius: 5px;
}
#formDiv{
  width:240px;
  margin:0px auto;
  align-items: center;



}*/

#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:100vh;
  background:#1a1a1a;
  background-color: #696969;
  text-align:center;
  transform-origin:left;
  transform:perspective(1200px) rotateY(90deg);
  transition:all 400ms ease;
}
#sidebar ul li {
  color:white;
  font-size:17px;
  width:100%;
  height:50px;
 

}
#sidebar.active {
  transform:perspective(1200px) rotateY(0deg);
}



#toggle-btn {
  position:absolute;
  left:30px;
  top:20px;
  transition:left 200ms linear 0ms,transform 300ms ease 100ms;
}
#toggle-btn.active {
  left:230px;
  transform:rotate(360deg);
}
#toggle-btn span {
  position:relative;
  top:0px;
  display:block;
  background-color:white;
  width:30px;
  height:5px;
  margin:5px 0px;
  cursor:pointer;
  transition:transform 300ms ease 200ms;
}
#toggle-btn.active span:nth-child(1) {
  top:10px;
  transform:rotate(45deg);
}
#toggle-btn.active span:nth-child(2) {
  opacity:0;
}
#toggle-btn.active span:nth-child(3) {
  top:-10px;
  transform:rotate(-45deg);
}